/* COMMON */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Akatab", sans-serif;
}

.title-1 {
  font-size: 2.2rem;
}

.title-2 {
  font-size: 2rem;
  font-weight: 500;
}

.container {
  width: 95%;
  margin: 0 auto;
}

/* HEADER */
header {
  padding: 1rem;
  text-align: center;
  border-bottom: 1px solid rgba(169, 169, 169, 0.25);
  background-color: rgb(247, 247, 239);
}

/* FORM */

.formulario {
  max-width: 700px;
  border: 1px solid rgba(0, 139, 139, 0.517);
  border-radius: 10px;
  padding: 1rem;
  margin: 2rem auto;
  background: rgba(245, 245, 245, 0.096);
}

.formulario h2 {
  padding: 0 1rem 1rem;
  text-align: center;
}

.formulario__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.formulario__input {
  width: 80%;
  display: flex;
  gap: 1rem;
}

.formulario__fecha {
  width: 60%;
}

.formulario__input input {
  width: 100%;
  padding-left: 2px;
}

.formulario__btn {
  padding: 0.2rem 0.8rem;
  margin-top: 0.5rem;
  border: 0.5px solid rgba(169, 169, 169, 0.25);
  border-radius: 10px;
}

.formulario__btn:hover {
  cursor: pointer;
  background-color: rgb(73, 73, 73);
  color: whitesmoke;
}

/* NOTICIAS */

.noticias__header {
  padding: 1rem;
  text-align: center;
  border-top: 1px solid rgba(169, 169, 169, 0.25);
  border-bottom: 1px solid rgba(169, 169, 169, 0.25);
  background-color: rgb(247, 247, 239);
}

.noticias__publicadas {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.noticia {
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  border: 1px solid rgba(0, 139, 139, 0.25);
  border-radius: 10px;
  padding: 1rem;
  margin: 1rem;
  background-color: rgba(245, 245, 245, 0.2);
}

.noticia h3 {
  line-height: 1.5rem;
  text-align: justify;
  width: 95%;
}
.noticia img {
  width: 100%;
  border-radius: 3px;
}

.noticia p {
  height: 200px;
  overflow: scroll;
  text-align: justify;
  text-indent: 20px;
}

.noticia span {
  font-style: italic;
  font-size: 0.8rem;
  align-self: flex-end;
}
